@font-face {
    font-family: 'NeueBit';
    src: url('assets/PPNeueBit-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SpaceMono';
    src: url('assets/SpaceMono-Regular.ttf') format('opentype');
}
/* DESKTOP SIZE */

/* Ensure the loader covers the full viewport */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Ensure full viewport width */
    height: 100vh; /* Ensure full viewport height */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: transform 0.6s ease-out; /* Slide-out animation */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box; /* Ensure no padding or borders affect the size */
}

/* Ensure the video covers the full viewport, no cropping */
#loader video {
    width: 100vw; /* Set width to cover the full viewport */
    height: 100vh; /* Set height to cover the full viewport */
    object-fit: cover; /* Ensure the video covers the entire area */
}

/* When the page is loaded, move the loader above the viewport */
body.loaded #loader {
    transform: translateY(-100%); /* Moves the loader above the viewport */
    pointer-events: none; /* Prevent interaction with hidden loader */
}



body.loaded .loader {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; /* Optional, to make the loader completely non-interactive */
}

html {
    scroll-behavior: smooth;
}


html, body {
    overflow-x: hidden;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent; /* Make the header background transparent */
    z-index: 2; /* Ensure the header is above the video */
}

body {
    font-family: 'NeueBit', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    background-color: #232122;
}

nav {
    padding: 0 20px;
    background-color: transparent; /* Make the background invisible */
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

nav ul li a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-size: 18px;
}

h1 {
    margin: 0;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #111;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0; 
}

.hero-content {
    position: absolute; /* Ensures it overlays the video */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it */
    flex-direction: column; /* Aligns text one after another */
    text-align: center;
    color: white;
    z-index: 5; /* Ensures text stays above the video */
}

h1 {
    font-family: 'NeueBit', sans-serif;
    font-size: 140px;
}

/* TIM styling */
.tim {
    font-size: 170px;
    position: absolute;
    top:20vh;
    left: 16vw;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    z-index: 10;
}

/* RODENBROEKER styling */
.rodenbroeker {
    font-size: 170px;
    position: absolute;
    bottom: 20vh;
    /* left: 5%; */
    font-weight: bold;
    color: white;
    z-index: 10;
}

.about {
    width: 100vw;
    height: 50vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    box-sizing: border-box; 
}

.about h4 {
    margin: 5px 0; 
    font-size: 48px;
    font-weight: bold;
}

.line2{
    padding-left:20%;
}

.line3{
    padding-right:15%;
}

.typed-cursor {
    display: inline; /* Keeps the cursor next to the text */
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.blogheader {
    width: 100vw; 
    height: 480px;
    background-image: url('assets/blognews_header.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}

.blogheader h2 {
    width: 100%;
    font-size: 140px;
    line-height: 0.7;
    position: absolute;
    bottom: 2vh;
    left: 26vw;
    margin: 0;
    padding: 0;
}

.scroll-container {
    width: 100%;
    height: auto; /* Instead of 100% */
    white-space: nowrap;
    overflow-x: auto; /* Allow horizontal scrolling only */
}


.scroll-content {
    display: inline-flex;
    background-color: white;
}

.swiper {
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns contents to the left */
    text-align: left;

    width: 470px;
    height: 720px;
}

.swiper-slide a{
    text-decoration: none;
}

.scroll-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.scroll-item h5 {
    font-family: 'SpaceMono', sans-serif;
    color:black;
    font-size: 20px;
    padding:0 30px;
    white-space: normal; 
    word-wrap: break-word; 
    font-weight:normal;
    text-decoration: none;
}

.scroll-item p {
    font-family: 'SpaceMono', sans-serif;
    color:black;
    font-weight:normal;
    font-size: 15px;
    white-space: normal; 
    word-wrap: break-word; 
    padding:0 20px;
    padding-bottom: 15px; /* Added bottom padding */
    text-decoration: none;
}


/* TABLET SIZE */


/* MOBILE SIZE */